@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --primary:#6584DB;  
  --secondary:#7195F5;
  --primary-dark:#364775;
  --secondary-dark: #536DB5;
}

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, var(--primary), var(--primary-dark));
}

#player {
  width: 30vw;
  height: 90vh;
  box-shadow: 0 0 10px #11111169;
  background: linear-gradient(145deg, var(--secondary) 40%, var(--secondary-dark));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem;
}

#player img.music-thumb {
  display: inline-block;
  width: 75%;
  box-shadow: 0 0 10px #11111169;
  object-fit: cover;
}

#player .music-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#player .music-data .music-title {
  margin: 0 0 .6rem 0;
  font-size: 1.8rem;
  font-weight: 300;
}

#player .music-data .author {
  font-size: 1rem;
}

#player .controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player .controls .btn-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#player .controls .btn-container button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  outline: none;
}

#player .controls .btn-container button:hover {
  cursor: pointer;
}

#player .controls .btn-container button#music-state {
  background: var(--primary-dark);
}

#player .controls .btn-container button i {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

#player .controls .progress {
  width: 90%;
  display: flex;
  flex-direction: column;
}

#player .controls .progress #progress-bar {
  appearance: none;
  height: .07rem;
  outline: none;
  box-shadow: 0 0 10px #11111169;
  cursor: pointer;
}

#player .controls .progress #progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: linear-gradient(45deg, var(--primary-dark), var(--primary));
}

#player .controls .config {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

#player .controls .config button {
  background: transparent;
  border: none;
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

#player .controls .config button i {
  text-shadow: 2px 1px 1px #11111169;
  transition: all .3s;
}

#player .controls .config button i:hover {
  cursor: pointer;
  transform: scale(1.3) translateX(-3px);
}